NAME=frank the big old tank
# Comment
MULTILINE_NONSENSE=noone should really be doing this
but jinny makes a token effort
to combine multiline environment variables
just don't put an equals character in it ffs
HOT_TIP=you should send me some wine gums